{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content_title %}
   Main page
{% endblock %}


{% block content %}

    <div class="col-md-offset-3 col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis dignissimos eaque illo laboriosam placeat
                porro quidem quo tempore veniam? Cum dolor eos laborum maiores nesciunt officiis, reiciendis sapiente velit?
            </p>
            <p>A asperiores dolore expedita libero. Eaque ipsum iusto perferendis, similique tempore tenetur vitae. Ad doloremque,
                id. Ea iusto, magnam magni minima neque nisi non perferendis quam recusandae tempora tenetur totam!
            </p>
            <p>Ab accusamus accusantium animi doloremque eius eligendi esse, expedita hic incidunt ipsam iste iure laboriosam
                laborum modi quaerat quam quis quos reiciendis repellat repudiandae saepe sed soluta sunt ut vel.
            </p>
            <p>Autem beatae consectetur cupiditate deserunt distinctio doloremque odit porro quas quasi quos similique, sit sunt
                veniam! Commodi cumque explicabo ipsam iste, magni nihil numquam quae sequi? Dolor ea facere modi!
            </p>
    </div>
{% endblock %}